<%= form_for(@user) do |f| %>
<div class= "row">
<div class= "col-md-6 col-md-offset-3">
<div class="field">
  <p><%= f.label :username %>
  <%= f.text_field :username, placeholder: "username" %></p>
</div>
<div class="field">
  <p><%= f.label :email %>
  <%= f.text_field :email, placeholder: "email@example.com" %></p>
</div>
<div class="field">
  <p><%= f.label :password %>
  <%= f.password_field :password, placeholder: "password" %></p>
</div>
<div class="field">
  <p><%= f.label :password_confirmation  %>
  <%= f.password_field :password_confirmation, placeholder: "password" %></p>
</div>

<div>
  <%= f.submit :Save!, class: "btn btn-primary" %>
</div>
<% end %>
</div>
</div>
