<% if @user %>
<% provide(:title, @user.username) %>
<aside>
  <section>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.username %>
    </h1>
    <%= link_to "Edit Profile!", edit_user_path(@user) %>
  <% if @user.goals.any? %>
  <h3 class="goals"><%= @user.username %>'s Goals</h3>
  <ul class="goalist">
  <%=render "Partial/goal_list" %>
  </ul>
  <%= will_paginate @goals %>
<%end%>
<% else %>
    <div class="error">
      <p> No users found sorry!</p>
    </div>
  </section>
</aside>
<% end %>