<h1>All Exercises</h1>

<%= form_tag(exercises_path, :method => "get") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Exercise" %>
<%= submit_tag "Search" %>
<% end %>

<br />

<div class="minilinks">
<%= link_to "All Exercises", exercises_path, class: "link_button", method: :get %>
&nbsp;&nbsp;
<%= link_to "Add Exercise", new_exercise_path, class: "link_button", method: :get %>
</div>

<div class="goal-box">
<%= will_paginate %>
  <ul>
<% @exercises.each do |exercise| %>
    <li class="full-width">
      <div>Name: <%= link_to exercise.name, edit_exercise_path(exercise.id), class: "link_button", method: :get %><br /> <br />
        Description: <%= exercise.description %>
      </div>
    </li>
    <hr>
<% end %>
  </ul>
</div>