<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@user.errors.count, "error") %> prevented this sign up. </h4>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li style="color:rgba(220, 30,40,0.9)"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class= "row">
<div class= "col-md-6 col-md-offset-3">
<div class="field">
  <p><%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name" %></p>
</div>
<div class="field">
  <p><%= f.label :email %>
  <%= f.text_field :email, placeholder: "email@example.com" %></p>
</div>
<div class="field">
  <p><%= f.label :password %>
  <%= f.password_field :password, placeholder: "password" %></p>
</div>
<div class="field">
  <p><%= f.label :password_confirmation  %>
  <%= f.password_field :password_confirmation, placeholder: "password" %></p>
</div>

<div>
  <%= f.submit :Join!, class: "btn btn-primary" %>
</div>
<% end %>
</div>
</div>
